/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background-color: #333;
    color: #d3ba88;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Secciones */
section {
    padding: 40px;
}

/* Títulos de sección */
h1, h2, h3 {
    margin-top: 0;
}

/* Galería de proyectos */
.project {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0;
    background-color: #d6caca;
}

.project img {
    max-width: 100%;
    height: auto;
}

/* Enlaces a proyectos */
.project a {
    display: inline-block;
    text-decoration: none;
    background-color: #8a6f3d;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
}

.project a:hover {
    background-color: #0056b3;
}

/* Formulario de contacto */
label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
