*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #bda06bf0;
}

#contenedor{
    background-color: white;
    margin: 0 auto;
    width: 800px;
    padding: 20px;
}

article{
    padding-top: 20px;
    column-count: 3;
    column-gap: 20px;
    column-rule: dotted 4px #59472f;
}