body {
    font-family: Arial, sans-serif;
    background-color: #ebcfcf;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(202, 176, 119);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ceb7b7;
    padding: 8px 0;
}

button {
    background-color: #635d5d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #635d5d;
}
